.table {
  table-layout: fixed;
  tbody tr td {
    vertical-align: middle;
  }
}

.listView {
  margin: 25px;
}

.yearField, .ratedField, .titleField  {
  text-align: left;
}

.yearHeader, .ratedHeader {
  width: 75px;
}

.posterHeader  {
  width: 100px;
}